body{
    background-image: url(rps_photos/gray_pokeballs.gif);
    background-size: 200px;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    width: 94%;
    min-height: 100vh;
    height: 100vh;
    padding: 40px;    
}

#starters{
    display: flex;
    justify-content: space-evenly;
    margin:auto;
}

    #fireButton{
        background: url(rps_photos/charizard.png);
        background-repeat: no-repeat;
        height: 350px;
        width: 350px;
        object-fit: contain;
        border: none;
    }
             
        #fireButton:hover{
            border:10px dashed yellow;
        }
        #fireButton:active{
            background-color: #cf6d6d;
            transform: translateY(4px);
        }
    #waterButton{
        background: url(rps_photos/blastoise.png);
        background-repeat: no-repeat;
        height: 350px;
        width: 350px;
        object-fit: contain;
        border: none;
    }
        #waterButton:hover{
            border:10px dashed yellow;
        }
        #waterButton:active{
            background-color: #6d94cf;
            transform: translateY(4px);
        }
    #grassButton{
        background: url(rps_photos/venasaur.png);
        background-repeat: no-repeat;
        height: 350px;
        width: 350px;
        object-fit: contain;
        border: none;
    }
        #grassButton:hover{
            border:10px dashed yellow;
        }
        #grassButton:active{
            background-color: #7dcf6d;
            transform: translateY(4px);
        }

#scores{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}
 
#messages{
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
    border: thick blue solid;
    border-radius: 4px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-shrink: 1;
    text-align: center;
    width: auto;
}

#resetButton{
    display:flex;
    justify-content: space-around;
    margin: auto;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 25px;
    font-style: oblique;
    border: thick rgb(255, 255, 255) solid;
    border-radius: 8px;
    transition-duration: 0.4s;
 }

    #resetButton:hover{
        background-color:yellow;
        color: rgb(0, 0, 0);
    }

    #resetButton:active {
        background-color: #11d100;
        box-shadow: 0 8px rgb(0, 0, 0);
        transform: translateY(4px);
    }